body {
	margin: 0;
	padding: 0;
	background-color: white;
    font-family: 'Cabin', sans-serif;
	font-size: 16px;
}

img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

#top {
	/*display: block;*/
    /*margin-bottom: 15px;*/
    /*border-bottom: 2px solid black;*/
}

#title {
    text-align: center;
    font-size: 38px;
    display: inline-block;
    margin: 0px;
}

.aButton {
    /*float: left;*/
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    /*display: block;*/

    color: #fff;
    background: #3f75a2;
    border-top: 1px solid #1B1D1E;
    border-right: 1px solid #1B1D1E;
    border-bottom: 1px solid #1B1D1E;
    border-left: 1px solid #1B1D1E;
    border-radius: 4px;

    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;


    margin-bottom: 10px;
    margin-top: 10px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/

    height: 40px;
}

.aButton:hover {
    background: #315b7d;
}

#middle {
    display: block;
    border-bottom: 2px solid black; 
}

#getDataFBButton {
    display: block;
    width: 96%;
    height: 60px;
    margin-bottom: 30px;
}

#mainText{
	font-size: 26px;
	color: black;
	text-align: center;
	display: block;
}

#bottom {
    margin: 0 1.5%;
    float: left;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    margin: 0 auto;    
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*-----------------------*/
/*        FOOTER         */
/*-----------------------*/
p.footerText {
    display: inline;
    color: black;
}
.siteFooter {
    font-size: 14px;
    display: block;
    position: fixed;
    bottom: 0%;
    width: 100%
}
/*-----------------------*/
/*-----------------------*/

.inputText {
    width: 90%;
    display: none;
    margin-top:10px;
    border: 3px solid;
    margin-left:5%;
    margin-right:-5%;
}

.submitTextButton{
    margin-left: auto;
    margin-right: auto;
    display: none;
}

