<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width">
		<title>MarkovMe</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css" />
		<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	</head>
	<body>
		<div id = "top">
			<img src="../static/icon.png" alt="Mountain View">
			<h1 id = "title">MarkovMe</p>

		</div>

		<div id = "middle">
			<button id = 'loginFBButton' class = "topLeft aButton">Login with Facebook</button>
			<button id = 'getDataInputButton' class = "topMiddle aButton">Upload a Text File</button>
			<button id = 'getDataMessengerButton' class = "topRight aButton">Get Messenger Messages</button>
			<button id = 'getDataFBButton' class = "aButton">Get My Predicted Post</button>
			<p id = "mainText">TEST TEXT PLEASE IGNORE</p>
		</div>

		<div id = "bottom">
			<p>About Us</p>
			<p>Help</p>
			<p>Privacy Policy</p>
		</div>

		<footer class="siteFooter" id = "floatingFooter"> 
			<p class="footerText">Made by Krishna Gaire and Lucas Futch</p>
		</footer>

		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="../static/script.js"></script>
		
	</body>
</html>