{% extends "base.html" %}
{% block content %}
	<h3 id = "instructionsText" class = "helpText">Instructions</h3>
		<p class = "helpText insText"> <b>Facebook</b>: Log in, and allow MarkovMe to access your Facebook Timeline posts. Generate a post using your own data. </p>
		<p class = "helpText insText"> <b>Plaintext</b>: Enter enough text so that it can be manipulated, such as an essay or a long enough piece of text from a favorite book.</p>
		<p class = "helpText insText"> <b>Twitter</b>: enter one or two public twitter handles, and generate a tweet based on them.</p>


	<button id = 'loginFBButton' class = "topLeft aButton">Login with Facebook</button>
	<button id = 'getDataInputButton' class = "topMiddle aButton">Input Text</button>
	<button id = 'getDataTwitterButton' class = "topRight aButton">Get Twitter Tweets</button>


	<button id = "getDataFBButton" class = "aButton">Get My Predicted Facebook Post</button>
    <textarea name = "inputText" id ="inputText" rows="10" placeholder="Input your Text Here"></textarea>
    <button id = "submitTextButton" class = "dataSubmit aButton">Get My Predicted Text</button>
    <input class = "twitterUsername" type = "text" id = "twitterUser1" placeholder = "@username">
    <input class = "twitterUsername" type = "text" id = "twitterUser2" placeholder = "@username">
    <button id = "submitTwitterButton" class = "dataSubmit aButton">Get My Predicted Tweet</button>

    <p id = "mainText">HELLO THERE</p>
{% endblock %}